/* ------------------Font Family--------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* ------------------Common Css--------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1F1F1F !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px !important;
}
ul{
    list-style: none;
    margin: 0 !important;
}
a{
    text-decoration: none !important;
}
/* ------------------Roots--------------- */

/* -----------------Header Starting-------------------- */
header{
    display: flex;
}
.header_shape {
    width: 30%;
    height: 40px;
    background-color: white;
    clip-path: polygon(0% 0%, 88% 0, 100% 100%, 72% 100%, 0% 100%);
}
.header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 480px;
}
.header_links ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header_links ul li a{
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}
.header_links ul li a .bx{
    font-size: 18px;
}
.navbar-brand img{
    width: 265px;
    transform: translate(0px, -20px);
}
/* -----------------Header Ending-------------------- */

/* -----------------Navbar Starting-------------------- */

.call_button a {
    background-color: #8EC46B;
    padding: 19px 30px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    .bx{
        font-size: 25px;
    }
}
ul .nav-link{
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
.dropdown_menu{
    width: 100%;
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
}
.dropdown_menu ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    cursor: pointer;
}
/* -----------------Navbar Ending-------------------- */
