/* ------------------Font Family--------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* ------------------Common Css--------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1F1F1F !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1340px !important;
}

ul {
    list-style: none;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

/* ------------------Roots--------------- */

/* -----------------Header Starting-------------------- */
header {
    display: flex;
}

.header_shape {
    width: 30%;
    height: 40px;
    background-color: white;
    clip-path: polygon(0% 0%, 88% 0, 100% 100%, 72% 100%, 0% 100%);
}

.header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 480px;
}

.header_links ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_links ul li a {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

.header_links ul li a .bx {
    font-size: 18px;
}

.navbar-brand img {
    width: 265px;
    transform: translate(0px, -20px);
}

/* -----------------Header Ending-------------------- */

/* -----------------Navbar Starting-------------------- */
.call_button a {
    background-color: #8EC46B;
    padding: 19px 30px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 1000ms;

    .bx {
        font-size: 25px;
    }
}

/* ---------button hover effect------- */

.call_button a:hover {
    color: var(--brand_color);
    transform: scale(1.03);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.call_button a::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.call_button a:hover::before {
    width: 250%;
}

ul .nav-link {
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.navbar-nav li a {
    position: relative;
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    width: 0%;
    transform: translate(0);
    transform-origin: center;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    background: linear-gradient(#8EC46B, #5fe208);
}

.navbar-nav li a:hover::after {
    transform: translate(1);
    width: 100%;
}

/* ------Dropdown-------- */
.dropdown_menu {
    width: 100%;
    background-color: #151515;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown_menu ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    cursor: pointer;
    z-index: 999;

    li {
        color: #fcaf17;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        position: relative;
    }

}

.dropdown_inner {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
    background-color: white;
    padding: 20px 20px;
    border-top: 2px solid #8EC46B;
    gap: 17px !important;
    width: 195px;
    transform: translateY(-15px);
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;
    position: absolute;

    li a {
        font-size: 14px;
    }
}

.dri_2 {
    width: 250px;
    left: -50px;
}

.dropdown_menu ul .first_dw:hover .dropdown_inner {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.dropdown_inner li a::after {
    content: '';
    position: absolute;
    width: 0%;
    transform: translate(0);
    transform-origin: center;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    background: linear-gradient(#8EC46B, #5fe208);
}

.dropdown_inner li a:hover::after {
    transform: translate(1);
    width: 100%;
}

/* -----------------Navbar Ending-------------------- */
/* -----------------Banner Starting-------------------- */
#banner {
    width: 100%;
    height: 550px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/banner_image.jpg);
    background-size: cover;
    background-position: center;
}

.banner_text h2 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    img {
        width: 40px;
    }
}

.banner_text {
    position: absolute;
    left: 0;
    width: 582px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    top: 50px;
    padding: 30px;
    z-index: 999;
    border-top-right-radius: 60px;
}

.banner_text h1 {
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    width: 490px;
}

.banner_text p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 38px;
}

.banner_button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.banner_button a {
    background-color: #8EC46B;
    padding: 8px 40px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.banner_text,
.about_text {
    .text_buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
    }

    .button {
        text-decoration: none;
        line-height: 1;
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
        background-color: #fff;
        color: #121212;
        border: none;
        cursor: pointer;
        height: 100%;
    }

    .button-decor {
        position: absolute;
        inset: 0;
        background-color: var(--clr);
        transform: translateX(-66%);
        transition: transform .3s;
        z-index: 0;
    }

    .button-content {
        display: flex;
        align-items: center;
        font-weight: 600;
        position: relative;
        overflow: hidden;
    }

    .button__icon {
        width: 48px;
        height: 40px;
        background-color: var(--clr);
        display: grid;
        place-items: center;
    }

    .button__text {
        display: inline-block;
        transition: color .2s;
        padding: 2px 1.5rem 2px;
        padding-left: .75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .button:hover .button__text {
        color: #fff;
    }

    .button:hover .button-decor {
        transform: translate(0);
    }
}

/* -----------------Banner Ending-------------------- */

/* -----------------Cards Starting-------------------- */
#cards {
    margin-top: 20px;
    height: 600px;
    margin-top: 100px;
}

.card_des {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.card_des img {
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    overflow: hidden;
}

.cards_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_des p {
    color: rgb(112, 112, 112);
    padding: 0px 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.card_des a {
    color: #e01c08;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.Cards_row2 {
    margin-top: 50px !important;
}

/* image hover  */
.card_image figure {
    position: relative;
    overflow: hidden;
    transition: all ease 500ms;
}

.card_image figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.card_image figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

.card_image figure:hover {
    transform: scale(1.1);
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/* -----------------Cards Ending-------------------- */
/* -----------------About us Starting------------------- */
#about {
    margin-top: 500px;
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about_img1 {
    transform: translateX(17px);
}

.about_img1 img {
    width: 100%;
}

.about_text {
    padding-top: 130px;
    transform: translateX(50px);
}

.about_text h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.about_text p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    width: 518px;
}

.about_row2 {
    margin-top: 100px !important;
}

.ab2 {
    transform: translateX(-18px);
}

.about_row2 .about_text {
    float: right;
    padding-top: 90px;
    transform: translateX(-50px);
}

.about_row,
.about_text {
    .button-decor {
        position: absolute;
        inset: 0;
        background-color: var(--clr);
        transform: translateX(-82%);
        transition: transform .3s;
        z-index: 0;
    }

    .button__text {
        display: inline-block;
        transition: color .2s;
        padding: 2px 1.5rem 2px;
        padding-left: .75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 270px;
    }

    .button__icon {
        width: 48px;
        height: 40px;
        background-color: transparent;
        display: grid;
        place-items: center;
    }
}

/* -----------------About us Ending-------------------- */
/* -----------------Portfolio Starting----------------- */
#portfolio {
    padding-top: 50px;
    background-color: white;
    width: 100%;
    padding-bottom: 50px;

    .about_text {
        padding-top: 65px;
    }

    .about_row .about_text {
        .button-decor {
            position: absolute;
            inset: 0;
            background-color: var(--clr);
            transform: translateX(-76%);
            transition: transform .3s;
            z-index: 0;
        }

        .button:hover .button-decor {
            transform: translate(0);
        }
    }
}

.awards_img img {
    width: 70%;
    margin-bottom: 40px;
}

.portfolio_gallery {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    .p_img_1 {
        width: 320px;
    }

    .p_img_1 img {
        width: 100%;
    }
}

.p_img_1 {
    position: relative;
}

.p_img_1 .overly_text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.541);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        color: white;
        font-family: "Rubik", sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        margin-bottom: 5px;
    }

    a {
        color: #8EC46B;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            background-color: #8EC46B;
            padding: 5px;
            border-radius: 50%;
            font-size: 13px;
            color: white;
        }
    }
}

.p_img_1 {
    position: relative;
    overflow: hidden;
}

.p_img_1 .hover_overly {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(9px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-320px);
    transition: all ease 300ms;

    a {
        color: #e01c08;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            background: linear-gradient(#e01c08, #881104);
            padding: 7px;
            border-radius: 50%;
            font-size: 14px;
            color: white;
        }
    }
}

.p_img_1:hover .hover_overly {
    transform: translateY(0);
}

/* -----------------Portfolio Ending------------------- */
/* -----------------Testimonials Starting---------------- */
#testimonials{
  background-color: #1F1F1F;
  padding-top: 78px;
  padding-bottom: 82px;
}

.review_card{
  width: 360px;
  height: 366px;
  border: 1px solid #FCAF17;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;

  padding: 52px 22px 51px 34px;
  transition: all 300ms ease-in-out;
  margin: 0 auto;
  background-color: white;
}
.review_card .stars{
  display: flex;
  place-content: center;
}
.review_card .stars i{
  color: #FE8B75;
}
.review_card p{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 20px;
  text-align: center;
  width: 304px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 47px;
}
.profile h2{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 16px;
  font-weight: 500;
}
.profile h3{
  font-family: var(--brand_fontFamily);
  color: var(--brand_color);
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin: 0;
}
.profile{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.testimonials_slider{
  position: relative;
}
.arrows{
 position: absolute;
 right: 40%;
 bottom: -80px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 500ms ease-in-out;
color: white;
}
.prr{
  left: 46%;
  bottom: -80px;
  width: 42px;
  height: 42px;
  border: 1px solid #42454A;
  border-radius: 50%;
  font-size: 18px;
}
.nrr{
  right: 46%;
  width: 42px;
  height: 42px;
  bottom: -80px;
  border: 1px solid #42454A;
  border-radius: 50%;
  font-size: 18px;
}
.arrows:hover{
  background-color: #e01c08;
  border: none;
  color: white;
  transform: scale(1.1);
}
.review_card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* -----------------Testimonials Ending------------------ */
